body{
  font-family: "Helvetica Neue Medium", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-align:center;
  font-size: calc(1.1vw);
}

a{
  color:#000000;
  text-decoration: none;
}

#home{
  width: 10vw;
  
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
  
}

.navbar ul {
  display: flex;
  list-style-type: none;
}

.container .navbar{
  justify-content: space-between;
}

.container .navbar ul li {
  padding: 10px;
  margin: 0 10px;
}
